@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

#home {
  background-image: url("./background.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio {
  background-color: #ced4da;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
